@model pruebasManyToMany.Models.EstudiantesIndexData

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes)
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellido 1
            </th>
            <th>
                Apellido 2
            </th>
            <th>
                EstAs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estudiantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @foreach(var item2 in item.EstudianteAsignatura)
                {
                <p>@item2.Asignatura.Nombre</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
